# GitHub 配置
VITE_GITHUB_USERNAME=gitvzz
VITE_GITHUB_REPOSITORY=gitShop
VITE_GITHUB_BRANCH=main
VITE_PUBLIC_KEY=your-public-key-for-order-encryption
VITE_DISTRIBUTOR_ID=your-distributor-id
# API 配置
VITE_API_BASE_URL= 